# Global
.DS_Store
.env
.env.*
!service/.env.example
!service/.env.https.example
!web/.env.example
!web/.env.https.example
!bud/.env.example
!bud/.env.https.example
.certs/
.idea/
.vscode/

# Rust
/target/
**/target/

# Node / Web
node_modules/
**/node_modules/
dist/
build/
.turbo/

# Logs & coverage
*.log
*.tmp
coverage/
.bud-debug/

# Misc
*.swp
*.swo

/old/
